name: Go
on: [pull_request]

permissions:
  contents: read

jobs:
  test:
    runs-on: github-hosted-ubuntu-x64-large
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Setup Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: go.mod
      - name: Install dependencies
        run: go mod vendor
      - name: Test with the Go CLI
        run: go test --race ./...
